.container {
  width: 290px;
  height: 75px;
  display: inline-block;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.title {
  margin: 0;
  text-align: left;
}

.input {
  width: 270px;
  display: block;
}

@media (min-width: 768px) {
  .container {
    width: 520px;
    height: 75px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
  }
  .input {
    width: 500px;
    display: block;
  }
}
