body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 290px;
}

p {
  margin: 0;
}

.title {
  color: blue;
}
@media (min-width: 768px) {
  #root {
    margin: 0 auto;
    width: 600px;
  }
}
